* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  font: 2.5rem "Architects Daughter", cursive;
  color: #2696aa;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

button {
  -webkit-tap-highlight-color: transparent;
}

.reset-btn {
  color: #fff;
  user-select: none;
  cursor: pointer;
  margin-top: 4rem;
  padding: 0.7rem 1.7rem;
  background-color: #2696aa;
  font: 2.1rem "Architects Daughter", cursive;
  border: 0.1rem solid #188ca179;
  border-radius: 0.1rem;
}

.reset-btn:active {
  transition: transform 0.2s ease;
  transform: scale(0.98);
}

.reset-btn:hover {
  transition: background-color 0.5s ease;
  background-color: #007e94;
}

.board {
  margin-bottom: 5rem;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  width: 7rem;
  height: 7rem;
  font: 3.5rem "Architects Daughter", cursive;
  color: #2696aa;
  border-bottom: 0.3rem solid #48bed3;
  border-right: 0.3rem solid #48bed3;
}

.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
  border-right: none;
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
  border-bottom: none;
}

.winner {
  text-align: center;
}

::selection {
  color: #ebf8e1;
  background-color: #2696aa;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 8px;
  }
}
