/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Grechen+Fuemen&family=Ruthie&family=Salsa&display=swap");

/* overwriting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

body {
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.65px, #e5e5f7 0.65px);
  background-size: 13px 13px;
  position: relative;
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* navbar logo  */
nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0.2rem 1rem;
}

.navbar-scrolled {
  background-color: #00000037;
  backdrop-filter: blur(4px);
  transition: all 0.3s ease-in-out;
}

.navbar ul {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Grechen Fuemen", cursive;
}

.navbar ul li a {
  color: #fff;
  font-weight: 600;
  position: relative;
  padding: 0 0.2rem;
}

.navbar ul li a:hover {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 0;
  height: 0.1rem;
  background-color: #fff;
  opacity: 0.6;
}

.navbar ul li a:hover::after {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.external-links {
  display: flex;
  gap: 1rem;
}

.external-links a:hover {
  filter: invert(0.5);
  transition: all 0.2s ease-in-out;
}

#caffeine-heading {
  font-family: "Grechen Fuemen", cursive;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 500;
}

#caffeine-heading:hover {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  position: relative;
}
#caffeine-heading::after {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 0;
  height: 0.1rem;
  background-color: #fff;
  opacity: 0.6;
}

#caffeine-heading:hover::after {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

/* landing component */
.landing {
  width: 100vw;
  height: 100vh;
}

.landing img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.landing::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  position: relative;
}

/* all childs of landing */
.landing :not(:first-child) {
  z-index: 2;
}

#landing-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#landing-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: 0;
  transition: all 0.3s ease-in;
}
#background-indicators {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  z-index: 3;
}

.background-indicator {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  cursor: pointer;
}

.background-indicator:hover {
  opacity: 0.8;
  transition: all 5s ease-in-out;
}

.background-indicator.active {
  opacity: 1;
  background-color: #bb9356;
  transition: all 0.3s ease-in-out;
  scale: 1.5;
}

.landing h3,
#menu h3 {
  font-family: "Grechen Fuemen", cursive;
  font-size: 1.6rem;
  color: #bb9356;
  font-weight: 500;
  text-align: center;
}

.landing h1,
#menu h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  color: #dfdfdf;
  font-weight: 500;
  text-align: center;
}

.landing p {
  font-family: "Grechen Fuemen", cursive;
  font-size: 1.2rem;
  color: #bfbdbd;
  font-weight: 700;
  text-align: center;
  max-width: 60vw;
  margin-bottom: 1rem;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  position: absolute;
  width: 98%;
  position: absolute;
  /* center of screen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-buttons button {
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.carousel-buttons button:hover {
  color: #bb9356;
  transition: all 0.1s ease-in-out;
}

/* menu  */
#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem 0;
  min-height: 100vh;
}

#menu h1 {
  color: #000000;
}

.menu-items-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.menu-items-container img.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 90%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.menu-items-container * {
  cursor: pointer;
}

.menu-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  background-color: #ffffff;
  position: relative;
  height: 250px;
  width: 300px;
}

.menu-item-info h2 {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
}

.menu-item-info::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px dashed #000000;
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);
}

.menu-item-image {
  position: relative;
  height: 250px;
  width: 300px;
  overflow: hidden;
}

.menu-item-image .icon,
.menu-item-image .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.menu-item-image .icon {
  color: #000000;
  z-index: 5;
  height: 0;
  width: 0;
}

.menu-item-image .overlay {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  transition: all 0.3s ease-in-out;
  z-index: 4;
  border-radius: 50%;
}

.menu-item-image .active {
  width: 200%;
  height: 200%;
}
.menu-item-image .icon.active {
  transition: all 0.3s ease-in-out;
  height: 2rem;
  width: 2rem;
}

.menu-item-detailed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 10;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 0;
  width: 80vmin;
  max-width: 400px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.menu-item-detailed .bottom-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-size: 1.4rem;
  color: #000000;
  font-weight: 500;
  text-align: center;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: #dfdfdf;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.bottom-content {
  overflow: visible;
}
.bottom-content .headings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -60%;
  z-index: 20;
}

.menu-item-detailed * {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  scale: 0.5;
}

.menu-item-detailed.active {
  height: 70vh;
  opacity: 1;
  max-width: 400px;
  max-height: 400px;
}

.menu-item-detailed.active * {
  opacity: 1;
  scale: 1;
}

.menu-item-detailed button.close {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #dfdfdf;
  font-size: 2rem;
  cursor: pointer;
}

.menu-item-detailed::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.menu-item-detailed button.close:hover {
  color: #bb9356;
  transition: all 0.1s ease-in-out;
}
.menu-item-detailed-overlay {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  height: 0;
  width: 0;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.menu-item-detailed-overlay.active {
  height: 200vmax;
  width: 200vmax;
}

.bottom-content h2 {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  color: #ffffff;
}

.bottom-content p {
  font-size: 1rem;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  padding: 1rem;
  font-family: "Salsa", cursive;
  font-weight: 200;
}
footer img {
  width: 20px;
  height: 20px;
}

footer img:hover {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 0.3rem;
  height: 0;
  background-color: #261fdb;
  opacity: 0.6;
  transition: all 0.1s linear;
  z-index: 100;
}
